{% extends 'main.html' %}

{% block content %}

<h1>Home Template</h1>

<div>
    <div id='create-roombtn'>
    <a id='room' href="{% url 'create-room' %}">Create Room</a>
    </div>
    <div>
        {% for room in rooms %}
        <div>
            <hr>
         
            <span>@{{ room.host.username }}</span>
             {% comment %} <a class="edit" href="{% url 'update-room' room.id %}">Edit</a> {% endcomment %}
            <h3 class='room'>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
            <small>{{ room.topic.name}}</small>
        </div>
        {% endfor %}
    </div>
</div>
    
    {% endblock content %}