{% extends 'main.html' %}

{% block content %}

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
       
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>       
       
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <div id='create-roombtn'>
            <a id='room' href="{% url 'create-room' %}">Create Room</a>
        </div>
        <hr>
        <div>
            {% for room in rooms %}
            <div>
                <span>@{{ room.host.username }}</span>
                <small>{{ room.topic.name}}</small>
                <h3 class='room'>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
                {% if request.user == room.host %}
                <a id="edit" href="{% url 'update-room' room.id %}">Edit</a>
                <a id="delete" href="{% url 'delete-room' room.id %}">Delete Room</a>
                {% endif %}
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}