{% extends 'main.html' %}


{% block content %}
<div id="room_title">Welcome to</div>
<div class="room_name">
       <div class="room_name">{{room.name}}</div>
</div>
<h3>Room Description: {{room.description}}</h3>
    
<div class="room-container">
    <div class="comment-section">
	    <div class="comment-container">
		    <h3>Conversation</h3>
		    <hr>
		    {% for message in room_messages %}
		        <div>
					<small>@{{message.user}} {{message.created|timesince}} ago</small>
			        <p>{{message.body}}</p>
					{% if request.user == message.user  %}
					<a href="{% url 'delete-message' message.id %}">Delete</a>
					{% endif %}
					<hr>
		        </div>
		    {% endfor %}
	    </div>

	    {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
			    {% csrf_token %}
			    <textarea class="comment-form" type="text" size="300" name="body" 	    placeholder="Write your comment here."></textarea>
                <input type="submit" value="Submit" />
                <input type="reset" />
                <a href="{% url 'home' %}">Cancel</a>
            </form>
        </div>
        {% endif %}
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
		{% for user in participants %}
			<div>
				<p>@{{user.username}}</p>
			</div>
		{% endfor %}
    </div>
</div>
{% endblock content %}
